.region.region-footer {
  clear: both;
}

/*
.footer-end-custom-block .slnt-text, .slnt-text > * a {
  text-decoration: none;
  color: white;
}
*/

.footer-end-custom-block {
  color: white;
}

.footer-end-custom-block > * a {
  text-decoration: none;
}

.footer-end-custom-block {
  padding-bottom: 1em;
}

.footer-end-custom-block{
  color: #FFFFFF;
  background-color: #2C0150;
  overflow: auto;
}

.footer-end-custom-block > * .field--name-field-year {
  float:left;
  margin-right: 1em;
}

.footer-end-custom-block > * .field--name-field-privacy-policy {
  float:left;
}

.footer-end-custom-block > * .field--name-field-copyright-message {
  float:left;
  margin-right: 1em;
}

.paragraph--type--social-icon-with-link > * .field--name-field-social-icon {
  width: 2em;
  height: 2em;
}

@media screen and (min-width: 768px ) {

}

@media screen and (max-width: 1023px ) {

}

@media screen and (min-width: 480px ) {
  .footer-end-custom-block .slnt-content-2-column {
    padding-left: 1em;
    padding-right: 1em;
  }

  .footer-end-custom-block  .slnt-content-2-column .slnt-column-left {
    float: left;
    width: 50%;
  }
    
  .footer-end-custom-block  .slnt-content-2-column .slnt-column-right {
    float: right;
    width:50%;
  }

  .footer-end-custom-block> * .paragraph--type--social-icon-with-link {
    float:right;
    margin-left: 1em;
  }
}

@media screen and (max-width: 479px ) {
  .footer-end-custom-block  .slnt-content-2-column .slnt-column-left {
    width: 100%;
  }
    
  .footer-end-custom-block  .slnt-content-2-column .slnt-column-right {
     width: 100%;
  }

  .footer-end-custom-block > * .paragraph--type--social-icon-with-link {
    float:right;
    margin-left: 1em;
  }

  .classy-paragraph-social-icons-set .field__items > .field__item {
    display: inline-block;
  }
  
  .footer-end-custom-block .paragraph--type--enclosure .field__items {
    display: flex;
    justify-content: center;
  }

  .classy-paragraph-social-icons-set {
    overflow:unset;
  }
}

.classy-paragraph-social-icons-set.paragraph--type--enclosure {
  overflow:unset !important;
}