@media (min-width: 576px) {
  .page-specific-front h1 {
    font-family: "Oswald";
    font-size: 3.2em;
    font-weight: 700;
    line-height: 1.1em;
  }
}

@media (max-width: 575px) {
  .page-specific-front h1 {
    font-family: "Oswald";
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1.1em;
 }
}
 
@media (max-width: 479px) {
  .page-specific-front h1 {
    font-family: "Oswald";
    font-size: 2.0em;
    font-weight: 700;
    line-height: 1.1em;
  }
}