/* menu mobile breakpoint */
@media (max-width: 979px) {
  .tb-megamenu {
    background-color: white;
  }

  .tb-megamenu .dropdown-menu li > a { 
    color: #2C0150;
  }

  .tb-megamenu .span12.mega-col-nav .mega-inner {
    padding: 10px;
    background-color: white;
    color: #2C0150;
  }

  .tb-megamenu .nav > .active > span.tb-megamenu-no-link:focus {
    background-color: white;
  }

  .tb-megamenu .nav-collapse .nav > li {
    float: none;
    background-color: white
  }

  .tb-megamenu .nav-collapse .nav > li > a,
  .tb-megamenu .nav-collapse .dropdown-menu a,
  .tb-megamenu .nav-collapse .nav > li > span.tb-megamenu-no-link,
  .tb-megamenu .nav-collapse .dropdown-menu span.tb-megamenu-no-link {
    color: #2C0150;
    background-color: white;
  }



  .tb-megamenu .nav-collapse .nav > li.active > a:hover,
  .tb-megamenu .nav-collapse .nav > li.active > a:focus,
  .tb-megamenu .nav-collapse .nav > li.active > span.tb-megamenu-no-link:hover,
  .tb-megamenu .nav-collapse .nav > li.active > span.tb-megamenu-no-link:focus {
    color: #2C0150;
    background-color: white;
  }

  .tb-megamenu .nav-collapse .nav > li > span.tb-megamenu-no-link:hover {
    color: #2C0150;
  }


  .tb-megamenu .nav li.dropdown.open > .dropdown-toggle {
    color: white;
  }


  .tb-megamenu .nav > li > a:focus,
  .tb-megamenu .nav > li > a:hover,
  .tb-megamenu .nav > li > span.tb-megamenu-no-link:focus,
  .tb-megamenu .nav > li > span.tb-megamenu-no-link:hover {
    color: white;
  }
}

/* menu mobile breakpoint */
@media (max-width: 979px) {
  .tb-megamenu {
    background-color: transparent;
    text-transform: uppercase;
    font-size: 12px;
  }
  .tb-megamenu .btn-navbar {
    margin-top: 18px;
  }
  .tb-megamenu .nav > li > a {
    line-height: unset;
  }
  .tb-megamenu .nav-collapse {
    width: 100vw;
    top: 65px;
  }
}

/* menu mobile breakpoint */
@media (max-width: 979px) {
  .region-primary_menu div.block {
    float: unset;
    margin-left: unset;
  }

  .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: unset;
  }

  .affix {
    position: unset;
  }


  .inv-sticky.affix {
   position: unset !important;
  }
}

/* menu mobile breakpoint */
@media (max-width: 979px) {
  .tb-megamenu .btn-navbar {
    display: block;
    margin-bottom: 10px;
    float: right;
  }
}

/* menu mobile breakpoint */
@media (max-width: 979px) {
  .tb-megamenu .nav-collapse .nav li a {
      margin-bottom: 0;
      border-top: 1px solid white;
  }
}

/* menu mobile breakpoint */
@media (max-width: 979px) {
    .tb-megamenu .nav-collapse .nav > li > a, .tb-megamenu .nav-collapse .dropdown-menu a, .tb-megamenu .nav-collapse .nav > li > span.tb-megamenu-no-link, .tb-megamenu .nav-collapse .dropdown-menu span.tb-megamenu-no-link {
        border-bottom: 0px solid white;
    }
}

/* menu mobile breakpoint */
@media (max-width: 979px) {
  .tb-megamenu .nav-collapse {
   position: relative;
 }
}

/* menu mobile breakpoint */
@media (max-width: 979px) {
  .tb-megamenu .nav-collapse {
      top: 0px;
  }
}



/* menu mobile breakpoint */
@media (max-width: 979px) {
    .tb-megamenu .mega-nav > li a, .tb-megamenu .dropdown-menu .mega-nav > li a {
        /* padding: 0px 0; */
        padding-top: 0.1em;
        margin-left: 0.8em;
    }
}





/* menu mobile breakpoint */
@media (max-width: 979px) {
    .tb-megamenu .span12.mega-col-nav .mega-inner {
        padding: 0px;
        background-color: white;
        color: #471E82;
    }
}



/* menu mobile breakpoint */
@media (max-width: 979px) {
  .tb-megamenu .nav-collapse .nav > li {
    float: none;
    background-color: white;
    padding-bottom: 2.5em;
  }
}


/* menu mobile breakpoint */
@media (max-width: 979px) {
  .tb-megamenu .nav-collapse .nav > li > span {
    color: #2C0150;
    background-color: white;
    line-height: 0.9em;
    padding-top: 0;
    padding-bottom: 0.4em;
    font-size: 1.5em;
  }
}

/* menu mobile breakpoint */
@media (max-width: 979px) {
 .tb-megamenu .btn {
    display: inline-block;
    padding: 4px 14px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #471e82;
  }

  .tb-megamenu .btn-navbar:hover {
    cursor: pointer;
  }

  .tb-megamenu .btn:hover {
    color: #471e82;
    text-decoration: none;
    color: #471e82;
    background: white;
    background-position: 0 0;
  }

  .tb-megamenu .btn,
  .tb-megamenu .btn:focus,
  .tb-megamenu .btn:active  {
    color: #471e82;
    background: white;
    border: none;
    box-shadow: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    outline-color: none;
    cursor: pointer; /* Ensure button-like cursor for consistency */
  }


  .tb-megamenu .btn,
  .tb-megamenu .btn:active {
    padding: 1em;
    font-size: 1.5em;
    font-family: "Oswald";
  }

  .tb-megamenu .btn span {
    padding-bottom: 1em;
  }

  .tb-megamenu [class^="fa-"], .tb-megamenu [class*=" fa-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
    background-position: 14px 14px;
    background-repeat: no-repeat;
    margin-top: 0.45em;
    margin-left: 0.25em;
  }
} /* mobile width */

/* menu mobile breakpoint */
@media (max-width: 979px) {
  .tb-megamenu-submenu.dropdown-menu.mega-dropdown-menu.nav-child {
    display: none !important; 
  }

  .tb-megamenu-submenu.dropdown-menu.mega-dropdown-menu.nav-child.active {
    display: block !important; 
  }
}

/* menu mobile breakpoint */
@media (max-width: 979px) {
  .tb-megamenu .nav-collapse .caret {
    display: inline-block !important;
  }

  .tb-megamenu .nav li.dropdown.slnt-expand > .dropdown-toggle .caret {
    -webkit-transform: scale(-1, -1);
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    transform: scale(-1, -1);

    position: relative;
    top: -10px;
  }

  .tb-megamenu .nav-collapse .nav > li > a:hover {
    color: #471e82 !important;
  }

  .tb-megamenu .nav-collapse .nav > li > span.tb-megamenu-no-link:focus {
    color: #471e82 !important;
  }
}


/*
@media (max-width: 879px) {
*/
@media (max-width: 979px) {
.tb-megamenu .nav > li > a, .tb-megamenu .nav > li > span.tb-megamenu-no-link {
    /*padding: 10px 15px;*/
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.2em;
  }
}

@media (max-width: 979px) {
  .tb-megamenu .nav > li > a, .tb-megamenu .nav > li > span,
  .tb-megamenu .nav > li > a, .tb-megamenu .nav > li > span.tb-megamenu-no-link {
    font-size: 1.7em !important;
    padding-left: 2em !important;
  }
}

/* menu mobile breakpoint */
@media (max-width: 979px) {
  .tb-megamenu .nav-collapse .dropdown-menu a {
    /*
    line-height: 1.5em;
    font-size: 1.5em;
    */

    font-size: 1.7em !important;
    padding-left: 1.2em !important;
  }
}
