@media screen and (min-width: 1024px ) {
  .view-display-id-news_and_events_full_view_display_block
  .views-row img {
    width: 100%;
    height: 225px;
    /*height: 100%;*/
    object-fit: cover;
  }

  .view-display-id-news_and_events_full_view_display_block article .field--type-image img {
    height: 225px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1280px ) {
  .view-display-id-news_and_events_full_view_display_block
  .views-row img {
    width: 100%;
    height: 275px;
    /*height: 100%;*/
    object-fit: cover;
  }

  .view-display-id-news_and_events_full_view_display_block article .field--type-image img {
    /*height: 275px;*/
    height: 225px;
    display: flex;
    justify-content: center;
  }
}



@media screen and (min-width: 1024px ) {
  .view-display-id-news_and_events_full_view_display_block
  .views-row {
    float: left;
    width: 33.3%;
    height: 35em;
  }


  .view-display-id-news_and_events_full_view_display_block > .view-content > .views-row:nth-child(3n + 2) > a > article {
    margin-right: 1em
  }

  .view-display-id-news_and_events_full_view_display_block > .view-content > .views-row:nth-child(3n + 1) > a > article {
    margin-right: 1em
  }



  .view-display-id-news_and_events_full_view_display_block
  .views-row a {
    text-decoration: none;
  }

  .view-display-id-news_and_events_full_view_display_block
  .views-field-title {
    height: 125px;
  }

  .view-display-id-news_and_events_full_view_display_block
  .views-field-body {
    height: 100px;
  }

 .view-display-id-news_and_events_full_view_display_block
 .field--name-title {
    font-family: 'Oswald';
    font-size: 1em;
    height: calc(125px - 0.5 * 5vw);
    display: inline-block;
    font-weight: 400;
    line-height: 1.2em;
    padding-top: 0.2em;
    padding-bottom: 0.1em;
  }

  .view-display-id-news_and_events_full_view_display_block article {
    background-color: white;
  } 




  .view-display-id-news_and_events_full_view_display_block
  .field--type-text-with-summary {
    /*height: calc(125px - 0.48 * 8.7vw);*/
    color: black;
  }
}

/*
.view-display-id-news_and_events_full_view_display_block p {
  color: black;
  margin-top: 0.5em;
  margin-bottom: 0.3em;
}
*/

@media screen and (max-width: 1023px ) {
  .view-display-id-news_and_events_full_view_display_block {
    /*
    padding-left: 2em;
    padding-right: 2em;
    */
  }

  .view-display-id-news_and_events_full_view_display_block
  .views-row {
    padding-bottom: 50px;
  }

  .view-display-id-news_and_events_full_view_display_block
  .views-row a {
    text-decoration: none;
  }

  .view-display-id-news_and_events_full_view_display_block
  .field--name-title {
    font-family: 'Oswald';
    font-size: 1em;
    /* height: 5em; */
    display: inline-block;
  }

  .view-display-id-news_and_events_full_view_display_block article {
    background-color: white;
  } 

  .view-display-id-news_and_events_full_view_display_block article img {
    max-width:100%;
  }

  .view-display-id-news_and_events_full_view_display_block
  .field--type-text-with-summary {
    padding-top: 0.5em;
    /*height: 6em;*/
  }
}

.view-display-id-news_and_events_full_view_display_block h2 {
  font-size: 1.5em;
  line-height: 1.0em;
  margin-top: 0.1em; 
  margin-bottom: 0;
}

.our-approach-heading .paragraph--type--image img {
  width: 100%;
  height: 30em;
  object-fit: cover;
}




.view-display-id-news_and_events_full_view_display_block .date {
  color: #2c0150;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 1.5em;
  padding-top: 0em;
}

.view-display-id-news_and_events_full_view_display_block
.field--name-title {
  color: #009CDC;
}

