/*for top left type */
/*
.node--type-article.node--view-mode-teaser,
.node--type-event.node--view-mode-teaser,
.node--type-blog.node--view-mode-teaser,
.node--type-press-release.node--view-mode-teaser,
.node--type-opportunity.node--view-mode-teaser {
  position: relative;
}
*/

/*
.node--type-article.node--view-mode-teaser .top-left,
.node--type-event.node--view-mode-teaser .top-left,
.node--type-blog.node--view-mode-teaser .top-left,
.node--type-press-release.node--view-mode-teaser .top-left,
.node--type-opportunity.node--view-mode-teaser .top-left {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #029cdc;
  color: white;
  font-family: "Oswald";
  font-size: 1.5em;
  padding-left: 0.3em;
  padding-right: 0.3em;
}
*/


/*
.node--view-mode-teaser.news-center-content-group 
.node--view-mode-teaser.news-center-content-group {
  margin-top: 0;
  margin-bottom: 0;
}
*/


