/*
@media screen and (min-width: 768px ) {
  .slnt-content-3-column {
    padding-left: 2em;
    padding-right: 2em;  
  }
}
*/



.slnt-content-3-column {
  padding-left: 2em;
  padding-right: 2em;  
}



.slnt-content-3-column .slnt-column-left,
.slnt-content-3-column .slnt-column-right {
  padding-bottom: 2em;
}

@media screen and (max-width: 1023px ) {
  .slnt-content-3-column .slnt-column-left {
    /*float: left;*/
    clear: both;
    width: 100%;
    padding-bottom: 2em;
  }

  .slnt-content-3-column .slnt-column-middle {
    /*float: left;*/
    clear: both;
    width: 100%;
    padding-bottom: 2em;
  }
    
  .slnt-content-3-column .slnt-column-right {
    /*float: left;*/
    clear: both;
    width: 100%;
    padding-bottom: 2em;
  }
}

@media screen and (min-width: 1024px ) {
  .slnt-content-3-column .slnt-column-left {
    float: left;
    width: 30%;
    padding-right: 5%;
  }

  .slnt-content-3-column .slnt-column-middle {
    float: left;
    width: 30%;
    padding-right: 5%;
  }
    
  .slnt-content-3-column .slnt-column-right {
    float: left;
    width: 30%;
  }
}


 