
/*
.slnt-webform-submit-wrapper{
	width: 60%;
	margin: 0 auto;


    padding-left: 2.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 1em;

	border: 1px solid;
	border-width: 1px 1px 1px 0;
	border-radius: 2px;
	word-wrap: break-word;
	background: no-repeat 10px 17px;
	overflow-wrap: break-word;
	color: #325e1c;
    border-color: #c9e1bd #c9e1bd #c9e1bd transparent;
    background-color: #f3faef;
    background-image: url(/core/misc/icons/73b355/check.svg);
	background-size: 30px 30px;
	background-position: 10px 50%;
	background-repeat: no-repeat;
    box-shadow: -8px 0 0 #77b259;
	font-size: 1.5em;

	margin-top: 2em;
    margin-bottom: 1em;
}
*/


