{#
/**
 * @file
 * Theme override for the "View Display" paragraph type.
 *
 * Renders the viewsreference field (field_view_display) which embeds
 * the chosen Views display.
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'slnt-view-display',
  ]
%}

{# Pull through any classy_paragraphs entries on field_classy #}
{% set extra_classes = [] %}
{% if paragraph.hasField('field_classy') %}
  {% for item in paragraph.field_classy %}
    {% if item.entity.classes %}
      {% set extra_classes = extra_classes|merge([item.entity.classes]) %}
    {% endif %}
  {% endfor %}
{% endif %}

{% block paragraph %}
  <div{{ attributes.addClass(classes).addClass(extra_classes) }}>
    {% block content %}
      {{ content.field_view_display }}
    {% endblock %}
  </div>
{% endblock paragraph %}
