@media screen and (min-width: 768px ) {
  .slnt-cta-outer {
    float: right;
  }
}


@media screen and (max-width: 767px ) {
  .slnt-cta-outer {
    float: right;
  }
}



.field--name-field-main-call-to-action-area {
  margin-bottom: 5em;
}

/* CTA fixed is where there is placeholder for a CTA */
/*
.slnt-cta-fixed {
  border: 0.2em solid;
  color: inherit;
  display: inline-block;
  text-align: center;
  font-size: 0.5em;
}
  */



.slnt-cta > a
{
    text-decoration-line: none;
    color: inherit;
}

.slnt-cta {
  border: 1px solid;
  padding: 0.5em;
  display: inline-block;
  font-size: 1rem;

}

/*
@media screen and (min-width: 768px ) {
  .main-cta-area {
    margin-left: 10%;
  }
}
*/

.main-cta-area .slnt-cta-fixed {
  color: white;
  margin-bottom: 1em;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
}