


.front-intro-text-thin h1 {
  font-weight: 400;

}

.front-intro-text-thin h2 {
  font-weight: 400;
}

.front-intro-text-thin h3 {
  font-weight: 400;
}

.front-intro-text-thin h4 {
  font-weight: 400;
}