.region.region-footer {
  clear: both;
}

/*
.block_classes-end-footer .slnt-text, .slnt-text > * a {
  text-decoration: none;
  color: white;
}

block_classes-end-footer

*/

.block_classes-end-footer {
  color: white;
}

.block_classes-end-footer > * a {
  text-decoration: none;
}

.block_classes-end-footer {
  /* padding-bottom: 1em; */
}

.block_classes-end-footer{
  color: #FFFFFF;
  overflow: auto;
  width: 100%;
}

.block_classes-end-footer > * .field--name-field-year {
  float:left;
  margin-right: 1em;
}

.block_classes-end-footer > * .field--name-field-privacy-policy {
  float:left;
}

.block_classes-end-footer > * .field--name-field-copyright-message {
  float:left;
  margin-right: 1em;
}

.paragraph--type--icon-with-link > * .field--name-field-icon {
  width: 2em;
  height: 2em;
}

@media screen and (min-width: 768px ) {

}

@media screen and (max-width: 1023px ) {

}

@media screen and (min-width: 480px ) {
  .block_classes-end-footer .slnt-content-2-column {
    padding-left: 1em;
    padding-right: 1em;
  }

  .block_classes-end-footer  .slnt-content-2-column .slnt-column-left {
    float: left;
    width: 50%;
  }
    
  .block_classes-end-footer  .slnt-content-2-column .slnt-column-right {
    float: right;
    width:50%;
  }

  .block_classes-end-footer> * .paragraph--type--icon-with-link {
    float:right;
    margin-left: 1em;
  }
}

@media screen and (max-width: 479px ) {
  .block_classes-end-footer  .slnt-content-2-column .slnt-column-left {
    width: 100%;
  }
    
  .block_classes-end-footer  .slnt-content-2-column .slnt-column-right {
     width: 100%;
  }

  .block_classes-end-footer > * .paragraph--type--icon-with-link {
    float:right;
    margin-left: 1em;
  }

  .classy-paragraph-icons-set .field__items > .field__item {
    display: inline-block;
  }
  
  .block_classes-end-footer .paragraph--type--enclosure .field__items {
    display: flex;
    justify-content: center;
  }

  .classy-paragraph-icons-set {
    overflow:unset;
  }
}

.classy-paragraph-icons-set.paragraph--type--enclosure {
  overflow:unset !important;
}

.block_classes-end-footer {
  /*
  position:fixed;
  bottom: 0;
*/
  margin-top: auto;
}