.header-custom-block .logo-primary {
  width: 17em;
  display: inline-block;
}

@media (min-width: 800px) {
  .header-custom-block .logo-secondary {
    width: 17em;
    float: right;
    padding-top: 1em;
    padding-right: 1.3em
  }
}

@media (max-width: 799px) {
  .header-custom-block .logo-secondary {
    display: none;
  }
}

@media (max-width: 799px) {
  .paragraph h2 {
    text-align: left;
  }
}
