.header-custom-block .logo-primary {
  width: 17em;
  display: inline-block;
}

/*
@media (max-width: 1259px) {
*/
/*
@media (max-width: 979px) {
  .header-custom-block .logo-primary {
    padding-left: 2em;
  }
}
*/

@media (min-width: 576px) {
  .header-custom-block .logo-secondary {
    width: 17em;
    float: right;
    padding-top: 1em;
    padding-right: 1.3em
  }
}

@media (max-width: 575px) {
  .header-custom-block .logo-secondary {
    display: none;
  }
}

@media (max-width: 1023px) {
  .paragraph h2 {
    text-align: left;
  }
}



@media (min-width: 1200px) {
  header {
    border-bottom: 1px steelblue solid;
  }
}