@media (min-width: 992px) {
  #mast-head {
    height: 96px;
    display: block; /* https://stackoverflow.com/a/11126701/227926 */
  }

  #slnt-logo {
    display: inline-block;
    float: left;
  }

  #slnt-prim-menu {
    display: inline-block;
    float: left;
  }

  #slnt-srch {
    display: inline-block;
    float: left;
  }

  #slnt-header {
    width: 100%;
    height: 96px; /* submenu_cover_height related: main_menu_section_height and submenu_desktop_hide_position_top */

    opacity: 1.0;
    background-color: white;
    position: relative;
  }

  main {
    clear: both;
    border-top: 1px steelblue solid;
    overflow: hidden;
    /* https://gemini.google.com/share/1bf7b89017b3 */
    background-color: white;
    opacity: 1.0;
  }

  /* Nav container height animation */
  nav[role=navigation].animation {
    transition-property: height;
    -webkit-transition-property: height;
    transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
  }

  nav[role=navigation] {
    /* height: 90px; */
    /*height: 96px;*/
  }  

  /* Submenu opacity fade animation */
  .sub-menu-container.animated {
    transition-property: opacity;
    -webkit-transition-property: opacity;
    transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
  }

  .main-menu-item-container>li {
    display: inline-block;
    white-space: nowrap;
  }

  .main-menu-item-container {
    display: inline-block;
    /*column-count: 5;*/ /* mobile screen detection relies on this in customsolent.js */
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .sub-menu-item-container {
    flex-direction: row;
    position: relative;
    columns: 6;
    width: auto;
  }

  .sub-menu-container {
    width: 100%;
    right: 0px;
    position: absolute;
  }

  .sub-menu-container.visible-2l {
    z-index: -1;
  }

  .sub-menu-container.hidden-2l {
    z-index: -1;
    /* submenu_desktop_hide_position_top */
    /*top: -60px; */
  }

  .main-menu-wrap {
    align-items: center;
    display: flex;
    height: 96px;
    /*height: 90px;*/ /* main_menu_section_height - related: submenu_cover_height and submenu_desktop_hide_position_top*/
  }
}