@media screen and (min-width: 1200px) {
  #mast-head {
    width: 15em;
    padding-left: 1em;
    display: block;
    /* https://stackoverflow.com/a/11126701/227926 */
  }

  #slnt-logo {
    display: inline-block;
    float: left;
  }

  #slnt-prim-menu {
    display: inline-block;
    float: left;
  }

  #slnt-srch {
    display: inline-block;
    float: left;
  }

  #slnt-header {
    width: 100%;
    height: 96px;
    /* submenu_cover_height related: main_menu_section_height and submenu_desktop_hide_position_top */

    opacity: 1.0;
    background-color: white;
    position: relative;
  }

  main {
    clear: both;
    overflow: hidden;
    /* https://gemini.google.com/share/1bf7b89017b3 */
    background-color: white;
    opacity: 1.0;
  }

  /* Submenu text fade transition for switching */
  .sub-menu-container .first-link,
  .sub-menu-container .sub-menu-item-container a {
    transition: opacity 0.18s ease;
  }

  .sub-menu-container.text-hidden .first-link,
  .sub-menu-container.text-hidden .sub-menu-item-container a {
    opacity: 0;
  }

  /* Nav container height animation */
  nav[role=navigation].animation {
    transition-property: height;
    -webkit-transition-property: height;
    transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
  }

  nav[role=navigation] {
    /* height: 90px; */
    /*height: 96px;*/
  }

  /* Submenu opacity and slide animation */
  .sub-menu-container.animated {
    transition-property: opacity, top;
    -webkit-transition-property: opacity, top;
    transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
  }

  .main-menu-item-container>li {
    display: inline-block;
    white-space: nowrap;
  }

  .main-menu-item-container {
    display: inline-block;
    /*column-count: 5;*/
    /* mobile screen detection relies on this in customsolent.js */
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .sub-menu-item-container {
    flex-direction: row;
    position: relative;
    columns: 6;
    width: auto;
  }

  .sub-menu-container {
    width: 100%;
    right: 0px;
    position: absolute;
  }

  /* Desktop: Apply transition to submenu for slide animation */

  .sub-menu-container {
    top: -50px;
    /* Default hidden position */
    transition-property: opacity, top;
    -webkit-transition-property: opacity, top;
    transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
  }

  /* Visible position - slides down to reveal */
  .sub-menu-container.visible-2l {
    top: 96px !important;
  }

  /* Hidden position - slides up above the menu bar */
  .sub-menu-container.hidden-2l {
    top: -50px !important;
  }


  /* Desktop 1200px: constrain submenu content and add full-width background */

  /* Flex layout for menu items to enable column effect */
  .main-menu-item-container {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .main-menu-item-container>li {
    height: 100%;
    display: flex;
    align-items: center;
  }

  /* Full-width background using pseudo-element */
  .sub-menu-container::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: -1;
  }

  /* Background color when submenu is visible */
  .sub-menu-container.visible-2l::before {
    background-color: #f0f0f0;
  }

  /* Background color for entire li when its submenu is expanded */
  .main-menu-item-container>li:has(.sub-menu-container.visible-2l) {
    background-color: #f0f0f0;
  }

  /* Background color for main menu button when its submenu is expanded */
  li:has(.sub-menu-container.visible-2l)>button.main_nav_link {
    background-color: #f0f0f0;
  }

  /* Constrain submenu content to 1200px */
  .sub-menu-item-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .sub-menu-container>.first-link {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  /* Visible position - slides down to reveal */
  .sub-menu-container.visible-2l {
    top: 96px;
    z-index: 100;
  }

  /* Hidden position - slides up above the menu bar */
  .sub-menu-container.hidden-2l {
    top: -50px;
    z-index: -1;
  }

  .main-menu-wrap {
    align-items: center;
    display: flex;
    height: 96px;
    /*height: 90px;*/
    /* main_menu_section_height - related: submenu_cover_height and submenu_desktop_hide_position_top*/
  }

  .sub-menu-container {
    z-index: -1;
    /* Default for all submenus */
  }

  .sub-menu-container.hidden-2l {
    z-index: -1;
    /* Explicit for hidden */
  }

  .navigation__link__down-icon {
    height: 1em;
    width: 0.9em;
  }

      .main-menu-item-wrapper > a.main_nav_link {
        color: rgb(16, 60, 96);
    }

    .sub-menu-container .first-link,
    .sub-menu-item-container a {
      color: rgb(16, 60, 96);
    }

        .sub-menu-container .first-link {
          text-decoration: none;
        }
}