
/*


https://stackoverflow.com/questions/14745297/how-to-display-an-unordered-list-in-two-columns
https://stackoverflow.com/questions/23999810/absolute-position-div-not-pushing-other-content-down/23999963#23999963
https://stackoverflow.com/questions/3751511/div-size-automatically-size-of-content
https://stackoverflow.com/questions/5232310/how-can-i-force-div-contents-to-stay-in-one-line-with-html-and-css
https://stackoverflow.com/questions/40545129/css-multiple-columns-layout-incorrect-column-splitting
https://stackoverflow.com/questions/10487292/position-absolute-but-relative-to-parent
https://www.w3schools.com/css/css_positioning.asp
https://stackoverflow.com/questions/34707436/use-of-static-css-position

https://stackoverflow.com/questions/39848311/what-is-the-number-beside-console-log-in-firefox-chrome#:~:text=If%20a%20same%20statement%20is,5%3B%20i%2B%2B)%20%7B%20console.

https://www.w3schools.com/howto/howto_js_remove_class.asp
https://befused.com/drupal/twig-addclass/#:~:text=To%20add%20multiple%20classes%20to,the%20name%20of%20the%20array.&text=And%20then%20pass%20that%20array,addClass()%20function.
https://stackoverflow.com/questions/15241915/how-to-change-css-property-using-javascript

https://www.fourfront.us/blog/jquery-window-width-and-media-queries/



https://stackoverflow.com/questions/13630229/can-i-have-an-onclick-effect-in-css
https://www.w3schools.com/jsref/event_onclick.asp


https://www.w3schools.com/cssref/playdemo.php?filename=playcss_grid-row
https://www.w3schools.com/cssref/pr_grid-row.php

https://www.w3schools.com/css/css3_multiple_columns.asp

*/

/*
.container-inline .hidden {
    display: initial;
    visibility: hidden;
}
    */

/*
.container-inline .hidden {
    display: initial;
    visibility: hidden;
}
*/


/* credit: BBC iPlayer - well I pay my license fee to the glorious corporation. "It's Your BBC" */
.sub-menu-container.animated {
    transition-property: top;
    -webkit-transition-property: top;
    transition-timing-function: 
ease;
    -webkit-transition-timing-function: 
ease;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    /*height: 64px; */
}

nav[role=navigation].animation {
    transition-property: height;
    -webkit-transition-property: height;
    transition-timing-function: 
ease;
    -webkit-transition-timing-function: 
ease;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    /*height: 64px; */ 
}

nav[role=navigation] {
  /*
  position: relative;
  overflow: hidden;
  position: relative;
  */
  /*
  z-index: 89;
  will-change: height;
  */
  /*overflow: hidden;*/
  
}


/*nav[role=navigation] li {
    display: inline-block;
}
*/

.main-menu-item-container > li {
          display: block;
    white-space: nowrap;
    width: 150px;
}


/*.navigation--animated .navigation__subnav--transition-open */
/*
.sub-menu-container.visible {
    transition-delay: .2s;
    transition-property: opacity;
    -webkit-transition-property: opacity;
    transition-timing-function: 
ease;
    -webkit-transition-timing-function: 
ease;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
}
*/

/*.navigation--animated .navigation__subnav--hidden.navigation__subnav--transition-close */
/*
.sub-menu-container.hidden {
    transition-delay: .5s;
    transition-property: visibility, opacity;
    -webkit-transition-property: visibility, opacity;
    transition-timing-function: 
ease;
    -webkit-transition-timing-function: 
ease;
    transition-duration: 0;
    -webkit-transition-duration: 0;
}
    */


/*
nav[role=navigation] li li {
    display: none;
}
*/

/*
nav[role=navigation] ul li ul {
    display: none;
}
*/

/*
.sub-menu-hidden {
    display: none;
}
*/

.main-menu-item-container {
display: inline-block;
    column-count: 3;
    width: 200px;
}

.sub-menu-item-container {
  flex-direction: row;
        position: relative;
        height: 64px;
        columns: 6;
        width: auto;
        z-index: -2;

}

.sub-menu-container {
    width: 100%;
    /*right: 250px; */
    right: 0px; 
    position: absolute;
    z-index: -2;
    /*height: 100%;*/
}

.sub-menu-container.visible {
  /*
        top: 70px;
        width: 100%;
        left: 0;
        position: absolute;
        z-index: -2;
        */

  /* will setting it as a style do the trick ? */
  /*top: 100px;*/
    visibility: visible;
      display: initial;


/*
        transition-delay: .2s;
    transition-property: opacity;
    -webkit-transition-property: opacity;
    transition-timing-function: 
ease;
    -webkit-transition-timing-function: 
ease;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    height: 64px;
    */
}


/* for the animation of the ease of the menu, select 'top' css instead of height, use z-index and opacity to hide it, and then we are nearly there with the desktop menu */

/* also there's another .hidden class somewhere else which is applying display: none which stops animations */


/*

.navigation--animated .navigation__subnav--transition-open {
        transition-delay: .2s;
    transition-property: opacity;
    -webkit-transition-property: opacity;
    transition-timing-function: 
ease;
    -webkit-transition-timing-function: 
ease;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
}

*/


.sub-menu-container.hidden {

  /*
        transition-delay: .2s;
    transition-property: opacity;
    -webkit-transition-property: opacity;
    transition-timing-function: 
ease;
    -webkit-transition-timing-function: 
ease;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    height: 64px;
*/

  /*
        opacity: 0;
        visibility: hidden;
        width: 99.999%;
  */
  /*
  display: none;
  */
  visibility: hidden;
  display: initial;
  /*top: 30px;*/

     /* height: 0px;*/
}

/*

auto-generate ids?

https://stackoverflow.com/questions/29894777/how-can-i-click-a-specific-li-without-an-id-or-class

*/

/*#superfish-main,*/
.slnt-menu-main-ul {
  background: white;
}

.slnt-menu-li {
  background: white;
  font-family: "Noto Serif"
}

ul.sf-menu .sf-sub-indicator {
/* .slnt-menu-a > .sf-sub-indicator { */
  right: unset;
}

.slnt-menu-a {
    text-decoration: none;
    color: black;
}

.sf-depth-2 {
  background-color: #023E8A;
  color: white;
}

.sfHover {
  background-color: #560BAD;
  color: white;
}

.sfHover > .slnt-menu-a {
    text-decoration: none;
    color: white;
}

/*
.sf-depth-1 > ul {
  width: 720px;
  background-color: green;
}
*/

ul.sf-menu.sf-navbar li ul, ul.sf-menu.sf-navbar li li li
{
  width: 720px;
  background-color: #023E8A;
}