@media (min-width: 992px) {
  #mast-head {
    width: 15em;
  }

  #slnt-logo {
    display: inline-block;
    float: left;
  }

  #slnt-prim-menu {
    display: inline-block;
    float: left;
  }

  #slnt-srch {
    display: inline-block;
    float: left;
  }

  #slnt-header {
    width: 100%;
    height: 96px; /* submenu_cover_height related: main_menu_section_height and submenu_desktop_hide_position_top */

    opacity: 1.0;
    background-color: white;
    position: relative;
  }

  main {
    clear: both;
    border-top: 1px steelblue solid;
  }

  /* credit: BBC iPlayer - well I pay my license fee to the glorious corporation. "It's Your BBC" */
  /*
  .sub-menu-container.animated {
    transition-property: top;
    -webkit-transition-property: top;
    transition-timing-function:
      ease;
    -webkit-transition-timing-function:
      ease;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
  }
  */


  /* DRAWER MENU 
https://stackoverflow.com/a/20590319/227926
*/

  /*
  .sub-menu-container.animated {
    transition-property: top;
    -webkit-transition-property: top;
    transition-timing-function:
      ease;
    -webkit-transition-timing-function:
      ease;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
  }
  */

  /*
  .sub-menu-container.animated {
  transition: top .5s ease;
  -webkit-transition: top .5s ease;
  }
  */

  /* 
  https://stackoverflow.com/a/64769022/227926
  transition: [property] [duration] [timing-function] [delay], ... more property-transitions
  */


  nav[role=navigation].animation {
    transition-property: height;
    -webkit-transition-property: height;
    transition-timing-function:
      ease;
    -webkit-transition-timing-function:
      ease;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
  }

  nav[role=navigation] {
    /* height: 90px; */
    /*height: 96px;*/
  }  


  /*
  .sub-menu-container.animated {
  transition: top .5s ease;
  -webkit-transition: top .5s ease;
  }
  */


  .sub-menu-container.animated {
    transition-property: top;
    -webkit-transition-property: top;
    transition-timing-function:
      ease;
    -webkit-transition-timing-function:
      ease;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
  }


  .main-menu-item-container>li {
    display: inline-block;
    white-space: nowrap;
  }

  .main-menu-item-container {
    display: inline-block;
    /*column-count: 5;*/ /* mobile screen detection relies on this in customsolent.js */
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .sub-menu-item-container {
    flex-direction: row;
    position: relative;
    columns: 6;
    width: auto;
  }

  .sub-menu-container {
    width: 100%;
    right: 0px;
    position: absolute;
  }

  .sub-menu-container.visible-2l {
    z-index: -1;
  }

  .sub-menu-container.hidden-2l {
    z-index: -1;
    /* submenu_desktop_hide_position_top */
    /*top: -60px; */
  }

  .main-menu-wrap {
    align-items: center;
    display: flex;
    height: 90px; /* main_menu_section_height - related: submenu_cover_height and submenu_desktop_hide_position_top*/
  }
}